QWidget#video_widget
{
background:#14141e;
border-radius:16px;
}

QVideoWidget
{
min-width:400px;
min-height:225px;
max-width:400px;
max-height:225px;
}

VideoWidget
{
min-width:400px;
min-height:225px;
max-width:400px;
max-height:225px;
}
